input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 12px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* div {
    width: 100%;
}

.textarea {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
} */

.entry-div {
    position: fixed;
    bottom: 10px;
    width: 98%;
}